.banner-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
  z-index: 1;
  pointer-events: none;
}

.first-right-text {
  padding-bottom: 1rem;
}

.third-right-text {
  padding-bottom: 1rem;
  color: #418CFF; // Updated July 2020 to provide greater contrast ratio
}

:global {
  .homepage--header {
    height:560px;
  }
}
