
@keyframes fader {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

// Normal desktop view
.chart--lottie {
  position: absolute;
  pointer-events: none;
  z-index: 0;
  opacity: 1;
}

.chart--bars {
  position: relative;
  z-index: 0;
}

.reduced-motion {
  display: none;
}


// Reduced motion
@media screen and (prefers-reduced-motion){
  .chart--bars, .chart--lottie {
    display: none;
  }

  .reduced-motion {
    display: block;
  }
}

// Mobile display
@media screen and (max-width: 672px){
  .chart--bars, .chart--lottie {
    display: none;
  }

  .mobile {
    display: block;
    margin: 75px 0 -50px 0;
  }
}

.hide-tooltip { 
  animation: fade-out 0.25s ease-out;
  opacity: 0;
}

.barsLoading {
  opacity: 0;
}

.chart--container {
  position: relative;
  width: 100%;
}

.showBars {
  opacity: 1;
}

.chart {
  position: relative;
  width: 100%;
  height: 100%;
  &:focus,
  &.chart-with-focus {
    outline: 2px solid $inverse-link;
  }
}

.chart--label {
  position: absolute;
  width: 100%;
  margin: 0 auto;
  background-color: #00c8c5;
}

.tooltip {
  background-color: #212121;
  text-align: left;
  width: 246px;
  height: 160px;
  padding: $spacing-05 calc(#{$spacing-05} + #{$spacing-02});
  position: absolute;
  z-index: 20;
  pointer-events: none;
  filter: drop-shadow(6px 6px 10px rgba(0, 0, 0, 0.75));
}

.tooltip:before {
  content: "";
  position: absolute;
  left: 12px;
  top: calc(100% - 5px); /*i.e. half the height*/
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid #212121;
  pointer-events: none;
}

.tooltip--sub-title {
  @include carbon--type-style("productive-heading-01");

  color: #00c8c5;
}

.tooltip--title {
  @include carbon--type-style("productive-heading-03");

  line-height: 22px;
  color: #efefef;
  border-bottom: 1px solid #404040;
  height: 56px;
  white-space: pre-line;
}

.tooltip--count {
  @include carbon--type-style("expressive-heading-04");

  color: #d8d8d8;
  margin-top: $spacing-03;
}

.tooltip--label {
  @include carbon--type-style("productive-heading-01");
  color: #979797;
  z-index: 25;
  margin-top: -6px;
}

.chart--bars {
  path {
    opacity: 0;
    stroke-dasharray: 265px 265px;
    fill: none;
    stroke-width: 10px;
    stroke-miterlimit: 10px;
  }

  path:hover {
    opacity: 1;
    transition: 0.07s all;
    stroke-width: 12px;
    
  }

  path:focus {
    opacity: 1;
    transition: 0.07s all;
    stroke-width: 12px;
    outline: none;
  }

  #pink--automation > path:hover,
  #pink--automation > path:focus {
    stroke: #ffcaff;
  }

  #blue--hps > path:hover,
  #blue--hps > path:focus {
    stroke: #9fd3ff;
  }

  #cloud--light-blue > path:hover,
  #cloud--light-blue > path:focus {
    stroke: #fff;
  }

  #information--green > path:hover,
  #information--green > path:focus {
    stroke: #b5ffff;
  }

  #security--purple > path:hover,
  #security--purple > path:focus {
    stroke: #d4bbff;
  }
}

@for $i from 1 through 25 {
    .components--#{$i} {
        stroke-dashoffset:  -1 * (265 - (100 * ($i / 25)) * 2.65) + 1;
    }
}
