.table {
  min-width: 100%;
}

.cell {
  border: 1px solid $ui-03;
  width: 100%;
  min-width: auto;
  min-height: 100px;
  padding: $spacing-03 16px $spacing-03 $spacing-03;
  vertical-align: top;
  text-align: left;
}

.cellheader {
  font-weight: bold;
}
