@import "mixins";
$carbon--theme: $carbon--theme--g10;
@include carbon--theme();
@import "./glossary.scss";

main.container--homepage {
  background: #000;
}

#homepage-cards {
  padding-top: calc(#{$spacing-05} * 5);

  .bx--aspect-ratio {
    width: 100%;
  }

  .bx--aspect-ratio--object {
    position: inherit;
  }

  .bx--col-lg-4 {
    display: flex;
  }

  .bx--resource-card {
    display: flex;
    width: 100%;
  }

  @media (min-width: 66rem) and (max-width: 82rem) {
    .bx--resource-card__subtitle {
      font-size: 0.75rem;
    }

    .bx--resource-card__title {
      font-size: 1rem;
    }
  }
}

[class^="ExpressiveListContainer-module--text"] .bx--row[class*="CardGroup-module--cardGroup"] {
  margin-left: -#{$spacing-05};
}

[class^="ExpressiveListContainer-module--text"] .bx--row[class*="CardGroup-module--cardGroup"] > div {
  max-width: 50%;
}
