section[role='tabpanel'] {
  background-color: #f4f4f4;
  padding-left: 0;
  padding-right: 0;
}
// section[role='tabpanel'] ~ .light-theme__tab {
//   background-color: #f4f4f4;
//   padding-left: 0;
//   padding-right: 0;
// }
