.jump-to {
    position: sticky;
    top: 3rem;
    padding: 1rem 0rem 0.25rem;
    background-color: rgb(243, 243, 243);
    z-index: 1;
}

.jump-to a:visited {
    color: #0062ff;
    text-decoration: none;
}

.glossary-entries h1:before,
.glossary-entries h3:before {
  display: block;
  content: '';
  width: 0;
  height: 64px;
  margin-top: -64px;
}

.glossary-entries a:visited {
    color: #0062ff;
}